/* General Styles */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 8px;
  padding: 20px;
  display: block;
}

p {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

/* Caption Class */
.caption {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-weight: bolder;
  color: green;
}

/* ID Selectors */
#mainHeading {
  color: red; /* Make the text color red */
  font-size: 80px; /* Additional styling per assignment */
  text-align: center;
  border-radius: 10px; /* Optional: round the corners */
  background-color: #2cad2072; /* Yellow background color */
}

#social {
  text-align: center;
  font-weight: bolder;
}

/* Class Selectors */
.funParagraph {
  color: green; /* Make the text color green */
  font-style: italic; /* Example additional styling */
  font-size: 25px;
  padding: 10px;
}

/* Header Styles */
header {
  text-align: center;
  margin-bottom: 20px;
}

/* Navigation Styles */
nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav li {
  font-size: 24px;
  font-weight: 300;
  display: inline;
  margin: 0 20px;
}

nav a {
  color: #0066cc;
  text-decoration: none;
}

/* Main Content Styles */
article {
  margin-bottom: 30px;
}

h2 {
  font-size: 50px;
  text-align: center;
  color: black;
}

.pic-resize {
  max-width: 90%; /* Ensures image does not exceed its container */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 5px solid red;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* Footer Styles */
footer {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #cccccc;
  padding-top: 10px;
}

footer ul {
  padding: 0;
}

footer li {
  font-size: 20px;
  display: inline;
  margin: 0 10px;
}

footer a {
  color: #0066cc;
}

#copyright {
  font-size: 24px;
  font-weight: bold;
  color: black;
  background-color: rgb(243, 131, 131);
}

#address {
  font-size: 22px;
  font-weight: bold;
  color: red;
}
